.flex {
  display: flex;
}

.flex-1-1 {
  flex: 1 1;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

.grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-end {
  justify-content: flex-end;
}
