// TODO: use variables for colors and shadows
$default-text-color: black;
$default-background-color: #f3f3f3;
$redish-background: #f5595d59;
$redish-text: #b52e31;
$darkblue-background: #1d324a;
$react-text: #00d8ff;
$purple-background: #e5dbff;
$purple-text: #764abc;
$green-background: #57ca538f;
$green-text: #42893f;
$lightblue-background: #1862de4d;
$lightblue-text: #2c375ff5;

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
  grid-gap: 24px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  animation: 2s pulseend reverse 1, 1.5s pulse 2s 3, 1s pulseend 6.5s 1;

  &:hover {
    background-color: var(--background-color, $default-background-color);
    font-weight: bold;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.1);
    .skill-name {
      animation: 1.5s pulse-text 2s 3;
      color: var(--text-color, $default-text-color);
    }
  }
}

.skill-name {
  animation: 1.5s pulse-text 2s 3;
}
.skill-image {
  min-height: 215px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.skill-bg-hover-redish {
  --background-color: #{$redish-background};
  --text-color: #{$redish-text};
}

.skill-bg-hover-darkblue {
  --background-color: #{$darkblue-background};
  --text-color: #{$react-text};
}

.skill-bg-hover-purple {
  --background-color: #{$purple-background};
  --text-color: #{$purple-text};
}

.skill-bg-hover-green {
  --background-color: #{$green-background};
  --text-color: #{$green-text};
}

.skill-bg-hover-lightblue {
  --background-color: #{$lightblue-background};
  --text-color: #{$lightblue-text};
}

.skill-bg-hover-white {
  --background-color: white;
  --text-color: black;
}

.skill-name {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

@keyframes pulse {
  0% {
    background-color: var($default-background-color);

    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(46, 66, 220, 0.445);
  }

  70% {
    background-color: var(--background-color, $default-background-color);
    transform: scale(1);
    box-shadow: 0 0 20px 10px rgba(46, 66, 220, 0);
  }

  100% {
    background-color: var($default-background-color);
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(46, 66, 220, 0);
  }
}

@keyframes pulseend {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(46, 66, 220, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

@keyframes pulse-text {
  0% {
    color: var($default-text-color);
    font-weight: normal;
  }

  70% {
    color: var(--text-color, $default-text-color);
    font-weight: bold;
  }

  100% {
    color: var($default-text-color);
    font-weight: normal;
  }
}
